.peopleList {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    margin-top: 20px;
}

.peopleList>*{
    flex: 1 1 200px;
    /*grow, shrink, basis*/

}

.peopleListItem {
    min-height: 250px;
    margin: 1em;
    padding-top:1em;
    border: 3px solid #ddd;
    border-radius: 15px;
}

.peopleListItem > img {
    max-width: 150px;
}